body {
  margin: 0;
  background-color: rgb(18, 6, 29);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  padding: 2rem;
}

@media screen and (max-width: 900px) {
  .box {
    flex-wrap: wrap;
  }
}

.square {
  width: 100vw;
  height: 400px;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}
